/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.nav-bar {
    display: flex;
    margin: 48px 72px 0px;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-part-one a {
    display: flex;
    align-items: center;
}

.nav-bar-part-two {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    width: 35px;
    height: 35px;
    background-color: #0F52BA;
    border-radius: 8px;
    margin-right: 20px;
}

.logo-text {
    font-size: 18px;
}

.page-content {
    margin: 128px 72px 32px;
}

#twitter-logo {
    width: 25px;
    height: 25px;
}

#linkedin-logo {
    width: 25px;
    height: 25px;
}

#email-contact {
    margin-bottom: 12px;
}

.logo-container {
    display: flex;
    gap: 8px;
}

.project-card {
    width: 100%;
    height: 100%;
    border: 1px solid #d4d4d4;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    color: black;
}

.project-card img {
    width: 100%;
    height: 65%;
    margin-bottom: 16px;
}

.project-card h1 {
    font-weight: bold;
    font-size: 24px;
}

.project-card h1, .project-card p {
    margin-left: 16px;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu-items {
    position: absolute;
    background-color: white;
    color: black;
    width: 150px;
    border: 1px solid #d4d4d4;
    right: 72px;
    top: 48px;
    text-align: right;
    display: none;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    padding: 16px;
}

.menu-container.show {
    transform: translateX(0);
}

.hamburger-menu-items a {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

#hamburger-menu-close-button {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

@media (max-width: 1000px), (min-width: 1000px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(3, min(500px, 33%)); 
        grid-template-rows: repeat(2, 300px);
        column-gap: 16px;
        row-gap: 24px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(2, min(500px, 50%)); 
        grid-template-rows: repeat(3, 300px);
        column-gap: 16px;
        row-gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .nav-bar-part-two {
        display: none;
    }
      
    .hamburger-menu {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 72px;
        top: 48px;
    }
      
    .hamburger-menu span {
        background-color: black;
        display: block;
        height: 4px;
        margin-bottom: 8px;
        width: 30px;
    }
      
    .hamburger-menu span:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .project-container {
        display: grid;
        grid-template-columns: repeat(1, min(500px, 100%)); 
        grid-template-rows: repeat(6, 300px);
        column-gap: 16px;
        row-gap: 24px;
        justify-content: center;
        align-items: center;
    }
}

